<header>
	<!--<script src="assets/javascripts/login.js"></script> -->
</header>
<body>
	<h2>Please sign in:</h2><br>
	<%= form_for(:session, :url => sessions_path) do |f| %>
		<%= f.label :email%>
		<%= f.text_field :email, :class => "form-control" %><br>
		<%= f.label :password%>
		<%= f.password_field :password, :class => "form-control" %><br>
		<%= f.submit "Sign in", :class => "btn btn-success" %>
		<p class="form-control-static">New user? Please <%= link_to 'signup!', new_user_path, :class => "link-style"%></p>
		<p class="form-control-static">Forgot your password? <%= link_to 'get a reminder!', {:controller => "static_pages", :action => "forgot"}, :class => "link-style"%></p>
	<% end %>  
</body>
