<h1>Sign Up</h1>
<%= form_for(@user) do |f|%>
	<%= render "shared/error_messages" %>
	<div class="form_label">
		<%= f.label :username %>
	</div>
	<div class="form_field">
		<%= f.text_field :username %>
	</div>
	<div class="form_label">
		<%= f.label :email %>
	</div>
	<div class="form_field">
		<%= f.text_field :email %>
	</div>
	<div class="form_label">
		<%= f.label :password%>
	</div>
	<div class="form_field">
		<%= f.password_field :password %>
	</div>
	<div class="form_label">
		<%= f.label :password_confirmation, "Confirmation" %>
	</div>
	<div class="form_field">	
		<%= f.password_field :password_confirmation%>
	</div>
	<div class="actions">
		<%= f.submit "Sign Up"%>
	</div>
<% end %>
