<div class="row">
  	<div class="col-md-2"><%= gravatar_for(@user) %></div>
</div>
  	
<div class="row">
	<div class="col-md-3">Email: <%= @user.email %></div>
</div>

<div class="row">
  	<div class="col-md-3">Username: <%= @user.username %></div>
</div>


<div class="row" id="contributions">
	  <div class="col-sm-4">
	  	<div class="panel">
	  		<div class="panel-heading">
	  			<h3 class="panel-title"><%= @user.username %>'s reviews</h3>
	  		</div>
	  			<div class="list-group">
	  			<% for review in @user.reviews %>
	  				<%= link_to review.title, { :controller => "trails", :action => "show", :id => review.trail_id }, { :class => "list-group-item", :id => "list-button" } %>
	  			<% end %>
	  		</div>
	  			<%= link_to "See All", user_path, :class => "btn btn-success btn-block" %>
	  	</div>
	  </div>
</div>
<script src="/assets/javascripts/users.js"/>

	