<div class="row">
	<div class="col-md-6">
		<span>
  			<%= gravatar_for(@user, "img-thumbnail") %>

		<div class="panel">
	  			<div class="panel-heading">
	  					<h3 class="panel-title">General Information</h3>
		  		</div>
		  		<div class="list-group">
		  			<div class="list-group-item">Email: <%= @user.email %></div>
		  			<div class="list-group-item">Username: <%= @user.username %></div>
		  		</div>
		 </div>
		</span>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<a target="_blank" class="link-style" href="https://en.gravatar.com/">Update Gravatar</a>
	</div>
</div>	

<div class="row">
   <div class="col-md-12">
	<div class="page-header"><h1 style="text-align:center;"><small><%=@user.username%>'s Contributions</small></h1></div>
</div>


<div class="row" id="contributions">

	<div class="col-sm-4">
	  	<div class="panel">
	  		<div class="panel-heading">
	  			<h3 class="panel-title">Trails Created</h3>
	  		</div>
	  			<div class="list-group">
	  			<% for t in @user.trails %>
	  				<%= link_to t.name, { :controller => "trails", :action => "show", :id => t.id }, { :class => "list-group-item", :id => "list-button" } %>
	  			<% end %>
	  		</div>
	  			<%= link_to "See All", {:controller => "trails", :action => "index"}, :class => "btn btn-success btn-block"%>
	  	</div>
	  </div>

	  <div class="col-sm-4" id="review_block">
	  	<div class="panel">
	  		<div class="panel-heading">
	  			<h3 class="panel-title">Review Contributions</h3>
	  		</div>
	  			<div class="list-group">
	  			<% for review in contributedReviews(@user) %>
	  				<%= link_to review.title,{:controller => "users", :action => "shower", :id => @user.id, :revId => review.id}, 
	  				{:class => "list-group-item", remote:true}%>
	  			<% end %>
	  		</div>
	  	</div>
	  </div>

	  
</div>
<script src="/assets/javascripts/users.js"/>

	