<div class="row">
	<div class="col-md-6">
		<span>
  			<%= gravatar_for(@user, "img-thumbnail") %>

		<div class="panel">
	  			<div class="panel-heading">
	  					<h3 class="panel-title"><%= @user.username %>'s info</h3>
		  		</div>
		  		<div class="list-group">
		  			<div class="list-group-item">Email: <%= @user.email %></div>
		  			<div class="list-group-item">Username: <%= @user.username %></div>
		  		</div>
		 </div>
		</span>
	</div>
</div>

<div class="row">
   <div class="col-md-12">
	<h3 style="text-align:center;"><%=@user.username%>'s Contributions</h3>
</div>


<div class="row" id="contributions">

	<div class="col-sm-4">
	  	<div class="panel">
	  		<div class="panel-heading">
	  			<h3 class="panel-title">Trails Created</h3>
	  		</div>
	  			<div class="list-group">
	  			<% for t in @user.trails %>
	  				<%= link_to t.name, { :controller => "trails", :action => "show", :id => t.id }, { :class => "list-group-item", :id => "list-button" } %>
	  			<% end %>
	  		</div>
	  			<%= link_to "See All", user_path, :class => "btn btn-success btn-block"%>
	  	</div>
	  </div>

	  <div class="col-sm-4">
	  	<div class="panel">
	  		<div class="panel-heading">
	  			<h3 class="panel-title">Reviews Created</h3>
	  		</div>
	  			<div class="list-group">
	  			<% for review in @user.reviews %>
	  				<%= link_to review.title, { :controller => "trails", :action => "show", :id => review.trail_id }, { :class => "list-group-item", :id => "list-button" } %>
	  			<% end %>
	  		</div>
	  			<%= link_to "See All", user_path, :class => "btn btn-success btn-block"%>
	  	</div>
	  </div>

	  <div class="col-sm-4">
	  	<div class="panel">
	  		<div class="panel-heading">
	  			<h3 class="panel-title">Other Reviews Commented On</h3>
	  		</div>
	  			<div class="list-group">
	  			<% for comment in @user.comments %>
		  				<% if current_user != User.find(Review.find(comment.review_id).user_id)%>
		  				<%= link_to Trail.find(Review.find(comment.review_id).trail_id).name, { :controller => "trails", :action => "show", :id => Review.find(comment.review_id).trail_id }, { :class => "list-group-item", :id => "list-button" } %>
	  				<% end %>
	  			<% end %>
	  		</div>
	  			<%= link_to "See All", user_path, :class => "btn btn-success btn-block" %>
	  	</div>
	  </div>

</div>
<script src="/assets/javascripts/users.js"/>

	