<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HAP APP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Trails", trails_path%></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" accept-charset="UTF-8" action="/trails" method="get">
        <div>
          <input name="utf8" type="hidden" value="&#x2713;"/>
        </div>
        <!--
        <input id="direction" name="direction" type="hidden" />
        <input id="sort" name="sort" type="hidden" />
        <p>
          <input id="search" name="search" type="text" class="form-control" placeholder="Search for trails" />
          <button type="submit" class="btn btn-default" value="Search">Go!</button>
        -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Welcome #{current_user.username}!", user_path(current_user)%></li>
        <li><%= link_to "Sign Out", signout_path%></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>