

  <div class="field">
    <%= l.label :name %><br />
    <%= l.text_field :name %>
  </div>
  <div class="field">
    <%= l.hidden_field :startLat %>
  </div>
  <div class="field">
    <%= l.hidden_field :startLng %>
  </div>
  <div class="field">
    <%= l.hidden_field :endLat %>
  </div>
  <div class="field">
    <%= l.hidden_field :endLng %>
  </div>
  <div class="field">
    <%= l.hidden_field :path %>
  </div>

  <div class="fluid-map-container field" id="newmap"></div>


