<h1>Trails</h1>


<%= form_tag trails_path, :method => :get do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
  	<p>
    	<%= text_field_tag :search, params[:search] %>
    	<%= submit_tag "Search", :name => nil %>
<% end %>


<% if @trails.size == 0 %>
	<em>No trails were found matching your search</em>
<% end %>


<table class="trail_table">
  <tr>
    <th><%= sortable "name", "Name" %></th>
    <th>Description</th>
    <th><%= sortable "rating", "Rating" %></th>
    <th><%= sortable "created_at", "Date Created" %></th>
  </tr>
  <% for t in @trails %>
  <tr>
    <td><%=link_to t.name, :action => "trail", :id => t.id%></td>
    <td><%=t.description%></td>
    <td><%=t.rating%></td>
    <td><%=t.created_at%></td>
  </tr>
  <% end %>
</table>

<%= will_paginate @trails %>

<p><%= link_to "Create Trail", new_trail_path %></p>