<h1><%=@trail.name %> Rating: <%=@trail.rating %></h1>

<h2> Reviews: </h2>
<% if @trail.reviews.any? %>
  <% @trail.reviews.each do |review| %>
    <p>
	  Title: <%= review.title %> </br>
	  Review: <%= review.bodyText %> </br>
	  Rating: <%= review.rating %> </br>
	  Date: <%= review.created_at %>
	  <%= button_to "Delete", { :controller => "reviews", :action => "deleteReview", :trail_id => @trail.id, :review_id => review.id} %>

    </p>

	  <% unless review.photo.nil? %>
	    	<%= link_to image_tag(review.photo.image, :size=> "64x64"), review.photo.image(:original), :popup=>['original_image', 'height=700', 'width=900'] %>

	  <% end %>
  <% end %>
<% end %>

<br/>
<br/>

<h1>Add a Review</h1>
<%= form_for Review.new do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %> 
	<br/>
	<%= f.label :review %>
	<br/>
	<%= f.text_area :bodyText %>
	<br/>
	<%= f.label :rating %>
	<%= f.text_field :rating %>
	<br/>

	<%= f.hidden_field :trail_id, :value => @trail.id %>

	<%= f.label :photo %>
	<%= f.file_field :photo %>
	</br>
	<%= f.submit %>
<% end %>
