<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Start Location:</b>
  (<%= @location.startLat %>, <%= @location.startLng %>)
</p>

<p>
  <b>End Location:</b>
  (<%= @location.endLat %>, <%= @location.endLng %>)
</p>

<p>
  <b>Path:</b>
  <%= @location.path %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
