<!DOCTYPE html>
<html>
<head>
  <title>HAPApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" id="main">
	<% if signed_in? %>
	 	<%= render "shared/header" %>
	<% end %>
	<% if flash[:notice] %>
		<div class="alert alert-danger alert-dismissible" role="alert">
  			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  			<%= flash[:notice] %>
		</div>
	<% end %>
	
	<%= yield %>
	
</div>

</body>
</html>
